# Development / Audit / CI tests
flake8
pycodestyle <2.4.0,>=2.0.0      # flake8 3.5.0 requirements
pylint
tox

# Python 3.7 isn't out when this was written, but we're using the PEP devel
# spec, so we'll just import until 3.7; no need to mess with the varying types
# of version equality, since we've already blocked off < 3.6:
dataclasses; python_version < '3.7'

# Libs
GitPython       # git; import as: git
Jinja2          # Templates; import as: jinja2
PyYAML          # import as: yaml
dnspython       # DNS; normally import as: dns.resolver   (others available)
filemagic       # identifying files; for "chromium_profiles_vacuum"
furl            # URL manipulation
keyring         # Access to platform keyring/keychain/whatever
requests[socks] >= 2.10.0       # HTTP Everything; Need 2.10.0+ for SOCKS proxy support; 2.18.4 current at time of writing
paramiko        # SSH
psutil          # Process state
pytz            # IANA (nee Olson) Timezone DB handling
six             # Py 2/3 compatibility aid; smoothes over differences
termcolor       # named access to ANSI colors
watchdog        # FS notifications
webcolors

# Cloud SDKs (so libs too)
boto3                           # AWS
google-api-python-client        # GCE; import as: googleapiclient

# Amazon
awscli
s3cmd
python-magic
